@media(max-width:1199px){
	.nav_right > .icons {
		text-decoration: none;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
		margin-right: 10px;
		cursor: pointer;
		padding: 0px 2px;
		display: inline-block;
	}
	.navigation_menu > ul > li {
		margin-right: 20px;
	}
	.why_choose_section {
		background-position: center center;
	}
}
@media(min-width:992px){
	.caret_down {
		position: absolute;
		top: 23px;
		right: 0;
		cursor: pointer;
		width: 8px;
		height: 8px;
		border-left: 2px solid #ffff;
		border-bottom: 2px solid #ffff;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	.navigation_menu > ul > li:hover .caret_down {
		border-color:var(primary_color);
	}
	.navigation_menu > ul > li > ul > li .caret_down {
		display: none;
	}
	/* == menu fix css == */
	.navigation_header_wrap.fixed_menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
		-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
		-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
		width: 100%;
		background: #fff;
	}
	.fixed_menu .header_logo {
		margin-bottom: 0;
	}
	/* == menu fix css == */
	.close_menu_dv{
		display:none;
	}
	.mobile_view{
		display:none !important;
	}
	.row_reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
}
@media(max-width:991px){
	.main_header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;
	}
	.navigation_header{
		background: transparent;
	}
	.header_logo {
		border-right: none;
		text-align: left;
	}
	.close_menu_dv {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-bottom: 0;
		padding-bottom: 10px;
		text-align: right;
	}
	.nav_toggle {
		display: inline-block;
	}
	.navigation_menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 11;
		width: 100%;
		display: none;
		background: var(--dark_gray);
		padding: 15px;
		float: left;
		width: 100%;
		text-align: left;
	}
	.navigation_menu > ul {
		float: none;
		display: inline-block;
		width: 100%;
	}
	.navigation_menu > ul > li {
		padding: 0px;
		float: left;
		width: 100%;
		margin-right: 0;
		border-bottom: 1px solid #ccc;
	}
	.navigation_menu > ul > li > a {
		padding: 7px 0;
		font-weight: 500;
		color: #fff;
	}
	.nav_right > .icons {
		margin-right: 4px;
	}
	.nav_right > .icons:last-child {
		margin-right: 5px;
	}
	/*== submenu css start ==*/
	.caret_down{
		position: absolute;
		top: 11px;
		right: 10px;
		float: right;
		cursor: pointer;
		width: 10px;
		height: 10px;
		border-left: 2px solid #ffff;
		border-bottom: 2px solid #ffff;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	.navigation_menu > ul> li > a:hover, 
	.navigation_menu > ul> li > a.active{
		background-color: transparent;
		color: var(--secondary_color);
	}
	.navigation_menu > ul > li > ul {
		position: relative;
		top: 100%;
		left: 0;
		background-color: transparent;
		display:none;
		width: auto;
		min-width: auto;
		box-shadow: none;
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
		visibility: visible;
		opacity: 1;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
	}
	.navigation_menu > ul > li:hover > ul {
		display:none;
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
	}
	.navigation_menu > ul > li > ul > li {
		border-bottom: none;
		padding: 0;
	}
	.navigation_menu > ul > li > ul > li > a {
		padding: 7px 16px;
		display: block;
		font-size:15px;
	}
	.navigation_menu > ul > li > ul:after{display:none;}
	.navigation_menu > ul > li > ul > li > a:hover{
		background-color: transparent;
		color: var(--secondary_color);
	}
	/*== submenu css End ==*/
	/*== second level submenu css End ==*/
	.navigation_menu > ul > li > ul > li > ul {
		position: relative;
		top: 100%;
		left: 0;
		background-color: transparent;
		display:none;
		width: auto;
		min-width: auto;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		visibility: visible;
		opacity: 1;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
	}
	.navigation_menu > ul > li > ul > li:hover > ul {
		display:none;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
	.navigation_menu > ul > li > ul > li > ul > li {
		border-bottom: none;
	}
	.navigation_menu > ul > li > ul > li > ul > li > a {
		padding: 6px 10px 6px 24px;
	}
	.navigation_menu > ul > li > ul > li > ul > li > a:hover {
		background-color: transparent;
		color: var(--secondary_color);
	}
	/*== second level submenu css End ==*/
}
@media(max-width:991px){
	/* Breadcrumb css */
	.page_banner_section, .breadcrumb_wrapper {
		text-align: center;
	}
	.page_banner_section {
		padding: 30px 0;
	}
	.page_banner_title h3 {
		margin-bottom: 7px;
	}
	/* Breadcrumb css */
}
@media(max-width:991px){
	/* footer css */
	.mobile_view{
		display:inline-block;
	}
	.desktop_view{
		display:none;
	}
}
@media(max-width:767px){
	.owl-nav > div {
		font-size:30px;
	}
}

@media(max-width:480px){
	.header_logo > a img {
		max-height: 30px;
	}
}